version: 2.1

orbs:
  windows: circleci/windows@1.0.0
  windows-defender: circleci/windows-defender@0.0.2

executors:
  windows:
    machine:
      resource_class: windows.medium
      image: windows-server-2019:201908-08
      shell: powershell.exe -ExecutionPolicy Bypass

jobs:
  test-one-module:
    executor: windows
    working_directory: "~/CircleCIDSC"
    parameters:
      module_name:
        type: string
        description: "The name of the dsc module to test"
    steps:
      - checkout:
          path: "~/CircleCIDSC"
      - run:
          name: fix pester
          shell: powershell.exe
          # 1. Pester is real old by default, and we want to update it
          # 2. For some reason, the built-in Pester exists in two different directories
          # 3. So to actually update it, we first have to delete both of them
          # 4. But deleting them requires some messy ownership commands
          command: |
            $module = "C:\Program Files\WindowsPowerShell\Modules\Pester"
            takeown /F $module /A /R
            icacls $module /reset
            icacls $module /grant Administrators:'F' /inheritance:d /T
            Remove-Item -Path $module -Recurse -Force -Confirm:$false

            $module = "C:\Program Files (x86)\WindowsPowerShell\Modules\Pester"
            takeown /F $module /A /R
            icacls $module /reset
            icacls $module /grant Administrators:'F' /inheritance:d /T
            Remove-Item -Path $module -Recurse -Force -Confirm:$false

            # Also remove these sample pester tests so we don't try to run them
            Remove-Item -Path 'C:\Users\circleci\CircleCIDSC\ExamplePacker' -Recurse -Force -Confirm:$false

            Install-Module -Name Pester -Force -RequiredVersion 4.9.0
            Update-Module -Name Pester
      - run:
          name: install deps
          shell: powershell.exe
          command: |
            $ProgressPreference = "SilentlyContinue"
            winrm quickconfig -quiet
            Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
            Set-PSRepository -InstallationPolicy Trusted -Name PSGallery
            & mkdir 'C:\Program Files\WindowsPowerShell\Modules\cChoco\'
            [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
            Invoke-WebRequest -Uri 'http://github.com/chocolatey/cChoco/archive/development.zip' -OutFile 'C:\cChoco.zip'
            Expand-Archive -LiteralPath 'C:\cChoco.zip' -DestinationPath 'C:\\'
            Copy-Item -Path 'C:\cChoco-development\*' -Recurse -Destination 'C:\Program Files\WindowsPowerShell\Modules\cChoco\'
            Install-Module -Name ComputerManagementDsc -Force

            # Life hack: use `Set-Item` to adjust WinRM settings so it doesn't yell about permissions
            Set-Item -Path WSMan:\localhost\MaxEnvelopeSizeKb -Value 512000
      - run:
          name: grab the tests module
          shell: powershell.exe
          command: |
            cd ..
            $ProgressPreference = "SilentlyContinue"
            git clone --branch dev https://github.com/PowerShell/DscResource.Tests
            $moduleName = "CircleCIDSC"
            import-module ..\DscResource.Tests\AppVeyor.psm1
      - run:
          name: test all modules
          shell: powershell.exe
          command: |
            . C:\Users\CircleCI\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1
            $ProgressPreference = "SilentlyContinue"
            $env:APPVEYOR_BUILD_FOLDER="C:\Users\circleci\CircleCIDSC"
            $env:APPVEYOR_REPO_NAME="CircleCI/CircleCIDSC"
            $env:APPVEYOR=$true
            $env:CONFIGURATION='Integration'
            $moduleName = "CircleCIDSC"
            import-module ..\DscResource.Tests\AppVeyor.psm1
            function Add-AppveyorTest {
                  [cmdletbinding()]
                  param ($Name, $Framework, $Filename, $Outcome, $Duration, $ErrorMessage, $ErrorStackTrace)
                  Write-Output $Name
                  Write-Output $Framework
                  Write-Output $Filename
                  Write-Output $Outcome
                  Write-Output $Duration
                  Write-Output $ErrorMessage
                  Write-Output $ErrorStackTrace

            }
            # Life hack: use a self-signed certificate (even though it isn't actually more secure than no certificate) to avoid security-related warnings during tests
            $null = New-DscSelfSignedCertificate
            # Delete all irrelevant test files (because the test script will try to run everything it sees)
            Get-ChildItem -Path Tests/Integration/*.ps1 | where Name -NotMatch '<< parameters.module_name >>'  | ForEach-Object{Remove-Item -Force -LiteralPath $_}
            Invoke-AppveyorTestScriptTask
      - store_artifacts:
          # This contains "delightful information about why things exploded" ~ eric
          path: C:\ProgramData\chocolatey\logs\chocolatey.log

  deploy-module:
    executor: windows
    working_directory: "~/CircleCIDSC"
    steps:
      - checkout:
          path: "~/CircleCIDSC"
      - run:
          name: install deps
          shell: powershell.exe
          command: |
            $ProgressPreference = "SilentlyContinue"
            winrm quickconfig -quiet
            Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
            Set-PSRepository -InstallationPolicy Trusted -Name PSGallery
            & mkdir 'C:\Program Files\WindowsPowerShell\Modules\cChoco\'
            [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
            Invoke-WebRequest -Uri 'http://github.com/chocolatey/cChoco/archive/development.zip' -OutFile 'C:\cChoco.zip'
            Expand-Archive -LiteralPath 'C:\cChoco.zip' -DestinationPath 'C:\\'
            Copy-Item -Path 'C:\cChoco-development\*' -Recurse -Destination 'C:\Program Files\WindowsPowerShell\Modules\cChoco\'
            Install-Module -Name ComputerManagementDsc -Force
            Set-Item -Path WSMan:\localhost\MaxEnvelopeSizeKb -Value 512000

      - run:
          name: grab the tests module
          shell: powershell.exe
          command: |
            cd ..
            $ProgressPreference = "SilentlyContinue"
            git clone https://github.com/PowerShell/DscResource.Tests
            import-module ..\DscResource.Tests\AppVeyor.psm1

      - run:
          name: after test scripts
          shell: powershell.exe
          command: |
            $ProgressPreference = "SilentlyContinue"
            Import-Module -Name "..\DscResource.Tests\AppVeyor.psm1"
            $env:APPVEYOR_BUILD_FOLDER="C:\Users\circleci\CircleCIDSC"
            $env:APPVEYOR_REPO_NAME="CircleCI/CircleCIDSC"
            $moduleName = "CircleCIDSC"
            $env:APPVEYOR_BUILD_VERSION="1.0.$env:CIRCLE_BUILD_NUM"
            Invoke-AppveyorAfterTestTask -Author CircleCI -Owner CircleCI
      - run:
          name: deploy to powershell gallery
          shell: powershell.exe
          command: |
            $ProgressPreference = "SilentlyContinue"
            $gallery_api = $psgkey
            $env:APPVEYOR_BUILD_FOLDER="C:\Users\circleci\CircleCIDSC"
            $env:APPVEYOR_REPO_NAME="CircleCI/CircleCIDSC"
            $env:APPVEYOR_BUILD_VERSION="1.0.$env:CIRCLE_BUILD_NUM"
            Write-Output "version $env:CIRCLE_BUILD_NUM"
            $moduleName = "CircleCIDSC"
            import-module ..\DscResource.Tests\AppVeyor.psm1
            Invoke-AppVeyorDeployTask -OptIn @()
            import-module .\CircleCIDSC
            cd ..
            cp -r CircleCIDSC 'C:\Program Files\WindowsPowerShell\Modules\CircleCIDSC'
            Publish-Module -Name CircleCIDSC -NuGetApiKey $env:psgkey




workflows:
  version: 2
  dsc-tests:
    jobs:
      - test-one-module:
          name: BuildAgentTests
          module_name: "CircleBuildAgentPreReq"
      - test-one-module:
          name: ChocoTests
          module_name: "CircleChoco"
      - test-one-module:
          name: CloudToolsTests
          module_name: "CircleCloudTools"
      - test-one-module:
          name: MicrosoftToolsTests
          module_name: "CircleMicrosoftTools"
      - test-one-module:
          name: NodeTests
          module_name: "CircleNode"
      - test-one-module:
          name: PathTests
          module_name: "CirclePath"
      - test-one-module:
          name: UsersTests
          module_name: "CircleUsers"
      - test-one-module:
          name: NvidiaTests
          module_name: "CircleNvidia"
      - test-one-module:
          name: TDRTests
          module_name: "CircleTDR"
      - test-one-module:
          name: PythonTests
          module_name: "CirclePython"
      - deploy-module:
          filters:
            branches:
              only: master
