version: 2.1

orbs:
  windows: circleci/windows@1.0.0
  windows-defender: circleci/windows-defender@0.0.2

executors:
  windows:
    machine:
      resource_class: windows.medium
      image: windows-server-2019:201908-08
      shell: powershell.exe -ExecutionPolicy Bypass

jobs:
  test-module:
    executor: windows
    working_directory: "~/CircleCIDSC"
    steps:
      - checkout:
          path: "~/CircleCIDSC"
      - run:
          name: fix pester
          shell: powershell.exe
          command: |
            $module = "C:\Program Files\WindowsPowerShell\Modules\Pester"
            takeown /F $module /A /R
            icacls $module /reset
            icacls $module /grant Administrators:'F' /inheritance:d /T
            Remove-Item -Path $module -Recurse -Force -Confirm:$false

            $module = "C:\Program Files (x86)\WindowsPowerShell\Modules\Pester"
            takeown /F $module /A /R
            icacls $module /reset
            icacls $module /grant Administrators:'F' /inheritance:d /T
            Remove-Item -Path $module -Recurse -Force -Confirm:$false

            Install-Module -Name Pester -Force -RequiredVersion 4.9.0
            Update-Module -Name Pester
      - run:
          name: install deps
          shell: powershell.exe
          command: |
            $ProgressPreference = "SilentlyContinue"
            winrm quickconfig -quiet
            Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
            Set-PSRepository -InstallationPolicy Trusted -Name PSGallery
            & mkdir 'C:\Program Files\WindowsPowerShell\Modules\cChoco\'
            [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
            Invoke-WebRequest -Uri 'http://github.com/chocolatey/cChoco/archive/development.zip' -OutFile 'C:\cChoco.zip'
            Expand-Archive -LiteralPath 'C:\cChoco.zip' -DestinationPath 'C:\\'
            Copy-Item -Path 'C:\cChoco-development\*' -Recurse -Destination 'C:\Program Files\WindowsPowerShell\Modules\cChoco\'
            Install-Module -Name ComputerManagementDsc -Force
            Set-Item -Path WSMan:\localhost\MaxEnvelopeSizeKb -Value 512000
      - run:
          name: grab the tests module
          shell: powershell.exe
          command: |
            cd ..
            $ProgressPreference = "SilentlyContinue"
            git clone https://github.com/PowerShell/DscResource.Tests
            $moduleName = "CircleCIDSC"
            import-module ..\DscResource.Tests\AppVeyor.psm1
            $null = New-DscSelfSignedCertificate
      - run:
          name: test all modules
          shell: powershell.exe
          command: |
            $ProgressPreference = "SilentlyContinue"
            $env:APPVEYOR_BUILD_FOLDER="C:\Users\circleci\CircleCIDSC"
            $env:APPVEYOR_REPO_NAME="CircleCI/CircleCIDSC"
            $env:APPVEYOR=$true
            $env:CONFIGURATION='Integration'
            $moduleName = "CircleCIDSC"
            import-module ..\DscResource.Tests\AppVeyor.psm1
            Invoke-AppveyorTestScriptTask

  deploy-module:
    executor: windows
    working_directory: "~/CircleCIDSC"
    steps:
      - checkout:
          path: "~/CircleCIDSC"
      - run:
          name: install deps
          shell: powershell.exe
          command: |
            $ProgressPreference = "SilentlyContinue"
            winrm quickconfig -quiet
            Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
            Set-PSRepository -InstallationPolicy Trusted -Name PSGallery
            & mkdir 'C:\Program Files\WindowsPowerShell\Modules\cChoco\'
            [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
            Invoke-WebRequest -Uri 'http://github.com/chocolatey/cChoco/archive/development.zip' -OutFile 'C:\cChoco.zip'
            Expand-Archive -LiteralPath 'C:\cChoco.zip' -DestinationPath 'C:\\'
            Copy-Item -Path 'C:\cChoco-development\*' -Recurse -Destination 'C:\Program Files\WindowsPowerShell\Modules\cChoco\'
            Install-Module -Name ComputerManagementDsc -Force
            Set-Item -Path WSMan:\localhost\MaxEnvelopeSizeKb -Value 512000

      - run:
          name: grab the tests module
          shell: powershell.exe
          command: |
            cd ..
            $ProgressPreference = "SilentlyContinue"
            git clone https://github.com/PowerShell/DscResource.Tests
            import-module ..\DscResource.Tests\AppVeyor.psm1

      - run:
          name: after test scripts
          shell: powershell.exe
          command: |
            $ProgressPreference = "SilentlyContinue"
            Import-Module -Name "..\DscResource.Tests\AppVeyor.psm1"
            $env:APPVEYOR_BUILD_FOLDER="C:\Users\circleci\CircleCIDSC"
            $env:APPVEYOR_REPO_NAME="CircleCI/CircleCIDSC"
            $env:APPVEYOR_BUILD_VERSION="1.0.$env:CIRCLE_BUILD_NUM"
            Invoke-AppveyorAfterTestTask -Author CircleCI -Owner CircleCI
      - run:
          name: deploy to powershell gallery
          shell: powershell.exe
          command: |
            $ProgressPreference = "SilentlyContinue"
            $gallery_api = $psgkey
            $env:APPVEYOR_BUILD_FOLDER="C:\Users\circleci\CircleCIDSC"
            $env:APPVEYOR_REPO_NAME="CircleCI/CircleCIDSC"
            $env:APPVEYOR_BUILD_VERSION="1.0.$env:CIRCLE_BUILD_NUM"
            Write-Output "version $env:CIRCLE_BUILD_NUM"
            import-module ..\DscResource.Tests\AppVeyor.psm1
            Invoke-AppVeyorDeployTask -OptIn @()
            import-module .\CircleCIDSC
            cd ..
            cp -r CircleCIDSC 'C:\Program Files\WindowsPowerShell\Modules\CircleCIDSC'
            Publish-Module -Name CircleCIDSC -NuGetApiKey $env:psgkey




workflows:
  version: 2
  dsc-tests:
    jobs:
      - test-module
      - deploy-module:
        filters:
          branches:
            only: master
